# Part 1: Load dataset HR-Employee-Attrition.csv

In [2]:
import pandas as pd
import os

df = pd.read_csv('HR-Employee-Attrition.csv', header=0, sep='\t')
df

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2
5,32,No,Travel_Frequently,1005,Research & Development,2,2,Life Sciences,1,8,...,3,80,0,8,2,2,7,7,3,6
6,59,No,Travel_Rarely,1324,Research & Development,3,3,Medical,1,10,...,1,80,3,12,3,2,1,0,0,0
7,30,No,Travel_Rarely,1358,Research & Development,24,1,Life Sciences,1,11,...,2,80,1,1,2,3,1,0,0,0
8,38,No,Travel_Frequently,216,Research & Development,23,3,Life Sciences,1,12,...,2,80,0,10,2,3,9,7,1,8
9,36,No,Travel_Rarely,1299,Research & Development,27,3,Medical,1,13,...,2,80,2,17,3,2,7,7,7,7
10,35,No,Travel_Rarely,809,Research & Development,16,3,Medical,1,14,...,3,80,1,6,5,3,5,4,0,3
11,29,No,Travel_Rarely,153,Research & Development,15,2,Life Sciences,1,15,...,4,80,0,10,3,3,9,5,0,8
12,31,No,Travel_Rarely,670,Research & Development,26,1,Life Sciences,1,16,...,4,80,1,5,1,2,5,2,4,3
13,34,No,Travel_Rarely,1346,Research & Development,19,2,Medical,1,18,...,3,80,1,3,2,3,2,2,1,2
14,28,Yes,Travel_Rarely,103,Research & Development,24,3,Life Sciences,1,19,...,2,80,0,6,4,3,4,2,0,3
15,29,No,Travel_Rarely,1389,Research & Development,21,4,Life Sciences,1,20,...,3,80,1,10,1,3,10,9,8,8
16,32,No,Travel_Rarely,334,Research & Development,5,2,Life Sciences,1,21,...,4,80,2,7,5,2,6,2,0,5
17,22,No,Non-Travel,1123,Research & Development,16,2,Medical,1,22,...,2,80,2,1,2,2,1,0,0,0
18,53,No,Travel_Rarely,1219,Sales,2,4,Life Sciences,1,23,...,3,80,0,31,3,3,25,8,3,7
19,38,No,Travel_Rarely,371,Research & Development,2,3,Life Sciences,1,24,...,3,80,0,6,3,3,3,2,1,2
20,24,No,Non-Travel,673,Research & Development,11,2,Other,1,26,...,4,80,1,5,5,2,4,2,1,3
21,36,Yes,Travel_Rarely,1218,Sales,9,4,Life Sciences,1,27,...,2,80,0,10,4,3,5,3,0,3
22,34,No,Travel_Rarely,419,Research & Development,7,4,Life Sciences,1,28,...,3,80,0,13,4,3,12,6,2,11
23,21,No,Travel_Rarely,391,Research & Development,15,2,Life Sciences,1,30,...,4,80,0,0,6,3,0,0,0,0
24,34,Yes,Travel_Rarely,699,Research & Development,6,1,Medical,1,31,...,3,80,0,8,2,3,4,2,1,3
25,53,No,Travel_Rarely,1282,Research & Development,5,3,Other,1,32,...,4,80,1,26,3,2,14,13,4,8
26,32,Yes,Travel_Frequently,1125,Research & Development,16,1,Life Sciences,1,33,...,2,80,0,10,5,3,10,2,6,7
27,42,No,Travel_Rarely,691,Sales,8,4,Marketing,1,35,...,4,80,1,10,2,3,9,7,4,2
28,44,No,Travel_Rarely,477,Research & Development,7,4,Medical,1,36,...,4,80,1,24,4,3,22,6,5,17
29,46,No,Travel_Rarely,705,Sales,2,4,Marketing,1,38,...,4,80,0,22,2,2,2,2,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1440,36,No,Travel_Frequently,688,Research & Development,4,2,Life Sciences,1,2025,...,2,80,3,18,3,3,4,2,0,2
1441,56,No,Non-Travel,667,Research & Development,1,4,Life Sciences,1,2026,...,1,80,1,13,2,2,13,12,1,9
1442,29,Yes,Travel_Rarely,1092,Research & Development,1,4,Medical,1,2027,...,2,80,3,4,3,4,2,2,2,2
1443,42,No,Travel_Rarely,300,Research & Development,2,3,Life Sciences,1,2031,...,1,80,0,24,2,2,22,6,4,14
1444,56,Yes,Travel_Rarely,310,Research & Development,7,2,Technical Degree,1,2032,...,4,80,1,14,4,1,10,9,9,8
1445,41,No,Travel_Rarely,582,Research & Development,28,4,Life Sciences,1,2034,...,3,80,1,21,3,3,20,7,0,10
1446,34,No,Travel_Rarely,704,Sales,28,3,Marketing,1,2035,...,4,80,2,8,2,3,8,7,1,7
1447,36,No,Non-Travel,301,Sales,15,4,Marketing,1,2036,...,1,80,1,15,4,2,15,12,11,11
1448,41,No,Travel_Rarely,930,Sales,3,3,Life Sciences,1,2037,...,3,80,1,14,5,3,5,4,0,4
1449,32,No,Travel_Rarely,529,Research & Development,2,3,Technical Degree,1,2038,...,4,80,0,4,4,3,4,2,1,2
1450,35,No,Travel_Rarely,1146,Human Resources,26,4,Life Sciences,1,2040,...,3,80,0,9,2,3,9,0,1,7
1451,38,No,Travel_Rarely,345,Sales,10,2,Life Sciences,1,2041,...,3,80,1,10,1,3,10,7,1,9
1452,50,Yes,Travel_Frequently,878,Sales,1,4,Life Sciences,1,2044,...,4,80,2,12,3,3,6,3,0,1
1453,36,No,Travel_Rarely,1120,Sales,11,4,Marketing,1,2045,...,1,80,1,8,2,2,6,3,0,0
1454,45,No,Travel_Rarely,374,Sales,20,3,Life Sciences,1,2046,...,3,80,0,8,3,3,5,3,0,1
1455,40,No,Travel_Rarely,1322,Research & Development,2,4,Life Sciences,1,2048,...,4,80,0,8,2,3,2,2,2,2
1456,35,No,Travel_Frequently,1199,Research & Development,18,4,Life Sciences,1,2049,...,4,80,2,10,2,4,10,2,0,2
1457,40,No,Travel_Rarely,1194,Research & Development,2,4,Medical,1,2051,...,2,80,3,20,2,3,5,3,0,2
1458,35,No,Travel_Rarely,287,Research & Development,1,4,Life Sciences,1,2052,...,4,80,1,4,5,3,4,3,1,1
1459,29,No,Travel_Rarely,1378,Research & Development,13,2,Other,1,2053,...,1,80,1,10,2,3,4,3,0,3
1460,29,No,Travel_Rarely,468,Research & Development,28,4,Medical,1,2054,...,2,80,0,5,3,1,5,4,0,4
1461,50,Yes,Travel_Rarely,410,Sales,28,3,Marketing,1,2055,...,2,80,1,20,3,3,3,2,2,0
1462,39,No,Travel_Rarely,722,Sales,24,1,Marketing,1,2056,...,1,80,1,21,2,2,20,9,9,6
1463,31,No,Non-Travel,325,Research & Development,5,3,Medical,1,2057,...,2,80,0,10,2,3,9,4,1,7
1464,26,No,Travel_Rarely,1167,Sales,5,3,Other,1,2060,...,4,80,0,5,2,3,4,2,0,0
1465,36,No,Travel_Frequently,884,Research & Development,23,2,Medical,1,2061,...,3,80,1,17,3,3,5,2,0,3
1466,39,No,Travel_Rarely,613,Research & Development,6,1,Medical,1,2062,...,1,80,1,9,5,3,7,7,1,7
1467,27,No,Travel_Rarely,155,Research & Development,4,3,Life Sciences,1,2064,...,2,80,1,6,0,3,6,2,0,3
1468,49,No,Travel_Frequently,1023,Sales,2,3,Medical,1,2065,...,4,80,0,17,3,2,9,6,0,8
1469,34,No,Travel_Rarely,628,Research & Development,8,3,Medical,1,2068,...,1,80,0,6,3,4,4,3,1,2

# How many record in this dataset?

# How many columns and what are they?

In [3]:
print("There are",df.shape[0],"row(indexes).\nThere are",df.shape[1],"columns.\nThe columns are : ",df.columns,".")

There are 1470 row(indexes).
There are 35 columns.
The columns are :  Index(['Age', 'Attrition', 'BusinessTravel', 'DailyRate', 'Department',
       'DistanceFromHome', 'Education', 'EducationField', 'EmployeeCount',
       'EmployeeNumber', 'EnvironmentSatisfaction', 'Gender', 'HourlyRate',
       'JobInvolvement', 'JobLevel', 'JobRole', 'JobSatisfaction',
       'MaritalStatus', 'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked',
       'Over18', 'OverTime', 'PercentSalaryHike', 'PerformanceRating',
       'RelationshipSatisfaction', 'StandardHours', 'StockOptionLevel',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance',
       'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager'],
      dtype='object') .

# Which columns are category type?

Plese be careful that some numeric type column may be categorical

In [4]:
df.select_dtypes(include='object')

,Attrition,BusinessTravel,Department,EducationField,Gender,JobRole,MaritalStatus,Over18,OverTime
0,Yes,Travel_Rarely,Sales,Life Sciences,Female,Sales Executive,Single,Y,Yes
1,No,Travel_Frequently,Research & Development,Life Sciences,Male,Research Scientist,Married,Y,No
2,Yes,Travel_Rarely,Research & Development,Other,Male,Laboratory Technician,Single,Y,Yes
3,No,Travel_Frequently,Research & Development,Life Sciences,Female,Research Scientist,Married,Y,Yes
4,No,Travel_Rarely,Research & Development,Medical,Male,Laboratory Technician,Married,Y,No
5,No,Travel_Frequently,Research & Development,Life Sciences,Male,Laboratory Technician,Single,Y,No
6,No,Travel_Rarely,Research & Development,Medical,Female,Laboratory Technician,Married,Y,Yes
7,No,Travel_Rarely,Research & Development,Life Sciences,Male,Laboratory Technician,Divorced,Y,No
8,No,Travel_Frequently,Research & Development,Life Sciences,Male,Manufacturing Director,Single,Y,No
9,No,Travel_Rarely,Research & Development,Medical,Male,Healthcare Representative,Married,Y,No
10,No,Travel_Rarely,Research & Development,Medical,Male,Laboratory Technician,Married,Y,No
11,No,Travel_Rarely,Research & Development,Life Sciences,Female,Laboratory Technician,Single,Y,Yes
12,No,Travel_Rarely,Research & Development,Life Sciences,Male,Research Scientist,Divorced,Y,No
13,No,Travel_Rarely,Research & Development,Medical,Male,Laboratory Technician,Divorced,Y,No
14,Yes,Travel_Rarely,Research & Development,Life Sciences,Male,Laboratory Technician,Single,Y,Yes
15,No,Travel_Rarely,Research & Development,Life Sciences,Female,Manufacturing Director,Divorced,Y,No
16,No,Travel_Rarely,Research & Development,Life Sciences,Male,Research Scientist,Divorced,Y,Yes
17,No,Non-Travel,Research & Development,Medical,Male,Laboratory Technician,Divorced,Y,Yes
18,No,Travel_Rarely,Sales,Life Sciences,Female,Manager,Married,Y,No
19,No,Travel_Rarely,Research & Development,Life Sciences,Male,Research Scientist,Single,Y,Yes
20,No,Non-Travel,Research & Development,Other,Female,Manufacturing Director,Divorced,Y,No
21,Yes,Travel_Rarely,Sales,Life Sciences,Male,Sales Representative,Single,Y,No
22,No,Travel_Rarely,Research & Development,Life Sciences,Female,Research Director,Single,Y,No
23,No,Travel_Rarely,Research & Development,Life Sciences,Male,Research Scientist,Single,Y,No
24,Yes,Travel_Rarely,Research & Development,Medical,Male,Research Scientist,Single,Y,No
25,No,Travel_Rarely,Research & Development,Other,Female,Manager,Divorced,Y,No
26,Yes,Travel_Frequently,Research & Development,Life Sciences,Female,Research Scientist,Single,Y,Yes
27,No,Travel_Rarely,Sales,Marketing,Male,Sales Executive,Married,Y,No
28,No,Travel_Rarely,Research & Development,Medical,Female,Healthcare Representative,Married,Y,No
29,No,Travel_Rarely,Sales,Marketing,Female,Manager,Single,Y,No
...,...,...,...,...,...,...,...,...,...
1440,No,Travel_Frequently,Research & Development,Life Sciences,Female,Manufacturing Director,Divorced,Y,No
1441,No,Non-Travel,Research & Development,Life Sciences,Male,Healthcare Representative,Divorced,Y,No
1442,Yes,Travel_Rarely,Research & Development,Medical,Male,Research Scientist,Married,Y,Yes
1443,No,Travel_Rarely,Research & Development,Life Sciences,Male,Manager,Married,Y,No
1444,Yes,Travel_Rarely,Research & Development,Technical Degree,Male,Laboratory Technician,Married,Y,No
1445,No,Travel_Rarely,Research & Development,Life Sciences,Female,Manufacturing Director,Married,Y,No
1446,No,Travel_Rarely,Sales,Marketing,Female,Sales Executive,Married,Y,No
1447,No,Non-Travel,Sales,Marketing,Male,Sales Executive,Divorced,Y,No
1448,No,Travel_Rarely,Sales,Life Sciences,Male,Sales Executive,Divorced,Y,No
1449,No,Travel_Rarely,Research & Development,Technical Degree,Male,Research Scientist,Single,Y,No
1450,No,Travel_Rarely,Human Resources,Life Sciences,Female,Human Resources,Single,Y,Yes
1451,No,Travel_Rarely,Sales,Life Sciences,Female,Sales Executive,Married,Y,No
1452,Yes,Travel_Frequently,Sales,Life Sciences,Male,Sales Executive,Divorced,Y,No
1453,No,Travel_Rarely,Sales,Marketing,Female,Sales Executive,Married,Y,No
1454,No,Travel_Rarely,Sales,Life Sciences,Female,Sales Executive,Single,Y,No
1455,No,Travel_Rarely,Research & Development,Life Sciences,Male,Research Scientist,Single,Y,No
1456,No,Travel_Frequently,Research & Development,Life Sciences,Male,Healthcare Representative,Married,Y,Yes
1457,No,Travel_Rarely,Research & Development,Medical,Female,Research Scientist,Married,Y,No
1458,No,Travel_Rarely,Research & Development,Life Sciences,Female,Research Scientist,Married,Y,No
1459,No,Travel_Rarely,Research & Development,Other,Male,Laboratory Technician,Married,Y,Yes
1460,No,Travel_Rarely,Research & Development,Medical,Female,Research Scientist,Single,Y,No
1461,Yes,Travel_Rarely,Sales,Marketing,Male,Sales Executive,Divorced,Y,Yes
1462,No,Travel_Rarely,Sales,Marketing,Female,Sales Executive,Married,Y,No
1463,No,Non-Travel,Research & Development,Medical,Male,Manufacturing Director,Single,Y,No
1464,No,Travel_Rarely,Sales,Other,Female,Sales Representative,Single,Y,No
1465,No,Travel_Frequently,Research & Development,Medical,Male,Laboratory Technician,Married,Y,No
1466,No,Travel_Rarely,Research & Development,Medical,Male,Healthcare Representative,Married,Y,No
1467,No,Travel_Rarely,Research & Development,Life Sciences,Male,Manufacturing Director,Married,Y,Yes
1468,No,Travel_Frequently,Sales,Medical,Male,Sales Executive,Married,Y,No
1469,No,Travel_Rarely,Research & Development,Medical,Male,Laboratory Technician,Married,Y,No

# How many JobRole and what is it?

In [5]:
print("There are",len(df.JobRole.unique()),"JobRole(s).\nThey are",df.JobRole.unique(),".")

There are 9 JobRole(s).
They are ['Sales Executive' 'Research Scientist' 'Laboratory Technician'
 'Manufacturing Director' 'Healthcare Representative' 'Manager'
 'Sales Representative' 'Research Director' 'Human Resources'] .

# How many Department and what is it?

In [6]:
print("There are",len(df.Department.unique()),"Department(s).\nThey are",df.Department.unique(),".")

There are 3 Department(s).
They are ['Sales' 'Research & Development' 'Human Resources'] .

# How many EducationField and what is it?

In [7]:
print("There are",len(df.EducationField.unique()),"EducationField(s).\nThey are",df.EducationField.unique(),".")

There are 6 EducationField(s).
They are ['Life Sciences' 'Other' 'Medical' 'Marketing' 'Technical Degree'
 'Human Resources'] .

# What is the average age of people in this company?

In [8]:
print("The average age of people in this company is",df.Age.mean(),".")

The average age of people in this company is 36.923809523809524 .

# How many female in this company?

In [9]:
print("There are",len(df[df.Gender=="Female"]),'female(s)in this company.')

There are 588 female(s)in this company.

# How many people have monthly income more than 10000?

In [10]:
print("There are",len(df[df.MonthlyIncome>10000]),"people have monthly income more than 10000.")

There are 281 people have monthly income more than 10000.

# How many people who travel frequently and is single?

In [11]:
print("There are",len(df[(df.BusinessTravel=='Travel_Frequently') & (df.MaritalStatus=="Single")]),"people who travel frequently and are single.")

There are 96 people who travel frequently and are single.

# What is the average age of people group by maritial status?

In [12]:
print("the average age of people group by maritial status : \n",df.groupby('MaritalStatus').Age.mean())

the average age of people group by maritial status :
 MaritalStatus
Divorced    37.489297
Married     37.757801
Single      35.336170
Name: Age, dtype: float64


# What is the median hourly rate of people group by Business Travel?

In [13]:
print("the median hourly rate of people group by Business Travel : \n",df.groupby('BusinessTravel').HourlyRate.median())

the median hourly rate of people group by Business Travel :
 BusinessTravel
Non-Travel           65
Travel_Frequently    65
Travel_Rarely        66
Name: HourlyRate, dtype: int64


# What is the average hourly rate of people group by job role?

In [14]:
print("the average hourly rate of people group by job role : \n",df.groupby('JobRole').HourlyRate.mean())

the average hourly rate of people group by job role :
 JobRole
Healthcare Representative    66.839695
Human Resources              64.173077
Laboratory Technician        66.683398
Manager                      66.833333
Manufacturing Director       65.006897
Research Director            63.762500
Research Scientist           66.708904
Sales Executive              65.438650
Sales Representative         64.337349
Name: HourlyRate, dtype: float64

# Which job role has more hourly rate than overall average?

In [26]:
data_=df.groupby('JobRole').HourlyRate.mean()
result=0
for i in data_:
    if i > result:
        result=i
    f=data.where(data==result)
f.dropna(how='any')

JobRole
Healthcare Representative    66.839695
Name: HourlyRate, dtype: float64